.btn {
  @apply .px-8 .py-2 .bg-grey-lighter .rounded;

  &:hover {
    @apply .bg-grey-light;
  }
}

.btn-primary {
  @apply .btn .bg-blue .text-white;

  &:hover {
    @apply .bg-blue-dark;
  }
}

.btn-secondary {
  @apply .btn .bg-orange .text-white;

  &:hover {
    @apply .bg-orange-dark;
  }
}
.btn-blue{
  background-color: #292d2f;
  border-radius: 3px;
  color: #fff;
  margin: 10px;
  display:inline-block;
}
.btn-blue:hover{
  background-color:#181b1d;
}
.btn-black{
  background-color: #000;
  border-radius: 3px;
  color: #fff;
  display:inline-block;
  padding:20px 50px;
}
